<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="firstapp">

<head ng-controller="headerctrl">
  <title ng-bind="'Times Bappa - '+template.title"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
   <link href="css/style.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
</head>

<body style="background:#fddc00;">
<div class="container martp">
        <div class="row  hidden-sm hidden-md hidden-lg marginbt">
                <div class="col-md-5 col-sm-6 text-center">
                   <div class="second-holder">
                       <img src="img/2.png" alt="Ganpati" class="img-responsive">
                   </div>
                    
                </div>
                <div class="col-md-5 col-sm-6">
                   <div class="third-holder pull-right">
                    <img src="img/3.png" alt="Ganpati" class="img-responsive">
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 ">
        <div class="img-holder">
        <img src="img/1.jpeg" alt="Ganpati" class="img-responsive">
        </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="row  hidden-xs">
                <div class="col-md-5 col-sm-6 text-center">
                   <div class="second-holder">
                       <img src="img/2.png" alt="Ganpati" class="img-responsive">
                   </div>
                    
                </div>
                <div class="col-md-5 col-sm-6">
                   <div class="third-holder pull-right">
                    <img src="img/3.png" alt="Ganpati" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                   <div class="text-holder">
                    <p>Happy Ganesh Chaturthi! I’ve created a lovely Ganesh idol using Times BAPPA app. Offer likes to my Bappa and help me collect more points.</p>
                    <p class="padtp">
                        You can also create your own here:
                        <br>
<a href="http://timesbappa.com" target="_blank">http://timesbappa.com</a>
                    </p>
                    <p class="padtp">
                        You can download our app here:
                    </p>
                    <img src="img/4.png" alt="Ganpati" class="img-responsive padtp marauto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>